.npmrc
*node_modules
*.DS_Store
!.env.local

# Context files
context*
requirements*

# tests
rag/db_chroma_test

# Entornos virtuales
.venv/
env/
venv/
__pycache__/
*.py[cod]

# Bases de datos vectoriales (Chroma)
**/db_chroma/
**/db_chroma_test/
*.sqlite3

# Variables de entorno (¡Seguridad!)
.env